{% load crispy_forms_tags %} {% load ideas_extra %}

<div class="idea" id="idea_{{ idea.id }}">
  <div style="display: flex; justify-content: space-between">
    <div>
      <h3 style="margin: 0">{{ idea.title|title }}</h3>
      <small>Submitter: {{ idea.user.name|title }}</small>
    </div>
    <div>Score: {{ idea.score }}</div>
  </div>

  {% if idea.description %}
  <br />
  <div>{{ idea.description|linebreaks|urlize }}</div>
  {% endif %}

  <div class="votes">
    {% users_vote idea user as the_users_vote %}

    <form
      hx-post="{% url 'like' idea.id user.id %}"
      hx-target="#idea_{{ idea.id }}"
      hx-swap="outerHTML"
    >
      {% csrf_token %}
      <button type="submit" class="btn">
        <div
          class="circle-icon like-icon {% if the_users_vote is True %} chosen-vote{% endif %}"
        >
          +
        </div>
      </button>
    </form>

    <form
      hx-post="{% url 'dislike' idea.id user.id %}"
      hx-target="#idea_{{ idea.id }}"
      hx-swap="outerHTML"
    >
      {% csrf_token %}
      <button type="submit" class="btn">
        <div
          class="circle-icon dislike-icon {% if the_users_vote is False %} chosen-vote{% endif %}"
        >
          -
        </div>
      </button>
    </form>
  </div>
</div>
