{% extends "ideahub/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container" id="ideas">
    <div class="row">
        <div class="col-12">
            <h1 class="display-3">Welcome, {{ user.name|title }}!</h1>
            Collection: {{ user.collection }}
        </div>
    </div>

    <div class="card-container mt-4">

        <div>
            <h4>Submit an Idea:</h4>
            <form
                hx-post="{% url 'submit_idea' user.id %}"
                hx-target="#ideas"
                hx-swap="outerHTML">
                {% csrf_token %}
                {{ idea_form|crispy }}
                <button type="submit" class="btn btn-primary ml-2">Submit</button>
            </form>
        </div>

        <div class="idea-container">
            <h4>Submitted Ideas:</h4>

            {% for idea in ideas %}
                {% include "ideahub/idea.html" with idea=idea user=user %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}